# Optimization Model to Markdown Strategy

## Import data and pre-processing

In [1]:
import pandas as pd
import numpy as np

# Load the Excel file
data = pd.read_excel('scraping_results.xlsx')

data.head(20)

,Unnamed: 0,Week,Price,Sales,Remaining,foresight,Choice,diff,revenue,perfect
0,0,1,60,87,1913,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
1,1,2,60,74,1839,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
2,2,3,54,147,1692,"Your revenue: $85,752, Perfect foresight strat...",1,15.8,85752,101892
3,3,4,54,45,1647,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
4,4,5,48,160,1487,"Your revenue: $85,752, Perfect foresight strat...",2,15.8,85752,101892
5,5,6,48,239,1248,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
6,6,7,48,137,1111,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
7,7,8,36,261,850,"Your revenue: $85,752, Perfect foresight strat...",3,15.8,85752,101892
8,8,9,36,292,558,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
9,9,10,36,294,264,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
10,10,11,36,99,165,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
11,11,12,36,165,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
12,12,13,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
13,13,14,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
14,14,15,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892
15,15,1,60,79,1921,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
16,16,2,60,59,1862,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
17,17,3,54,86,1776,"Your revenue: $79,188, Perfect foresight strat...",1,9.0,79188,87054
18,18,4,54,80,1696,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
19,19,5,48,74,1622,"Your revenue: $79,188, Perfect foresight strat...",2,9.0,79188,87054

In [2]:
# Assuming each item's data is in blocks of 15 rows. Extract data for each item.
item_blocks = [data.iloc[i*15:(i+1)*15] for i in range(len(data) // 15)]
demand_lifts = []

In [3]:
# print sample item_block
item_blocks[1]

,Unnamed: 0,Week,Price,Sales,Remaining,foresight,Choice,diff,revenue,perfect
15,15,1,60,79,1921,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
16,16,2,60,59,1862,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
17,17,3,54,86,1776,"Your revenue: $79,188, Perfect foresight strat...",1,9.0,79188,87054
18,18,4,54,80,1696,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
19,19,5,48,74,1622,"Your revenue: $79,188, Perfect foresight strat...",2,9.0,79188,87054
20,20,6,36,219,1403,"Your revenue: $79,188, Perfect foresight strat...",3,9.0,79188,87054
21,21,7,36,120,1283,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
22,22,8,36,224,1059,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
23,23,9,36,130,929,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
24,24,10,36,165,764,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
25,25,11,36,235,529,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
26,26,12,36,226,303,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
27,27,13,36,150,153,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
28,28,14,36,153,0,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054
29,29,15,36,0,0,"Your revenue: $79,188, Perfect foresight strat...",0,9.0,79188,87054

## Calculate Demand Lift

In our dataset, there are 100 different items. Each item has a different demand at different price point. Given that the relative demand lift is the same, we extracted the demand lift for each price point for each item relative to the demand at week 1. Thereafter, we take the average of the demand lift for each price point to get 4 demand lift values.

In [4]:
# Calculate demand lift for each block (representing an item)
for block in item_blocks:
    week_1_sales = block[block['Week'] == 1]['Sales'].values[0]
    demand_lift = block.assign(Demand_Lift=lambda x: x['Sales'] / week_1_sales)
    demand_lifts.append(demand_lift)

# Combine all item blocks back into a single dataframe
demand_lifts_df = pd.concat(demand_lifts)

# Calculate the average demand lift for each price point across all items
average_demand_lifts = demand_lifts_df.groupby('Price')['Demand_Lift'].mean().reset_index()

# Output the results
print(average_demand_lifts)

   Price  Demand_Lift
0     36     1.772344
1     48     1.752019
2     54     1.316609
3     60     0.992055

In [5]:
demand_lifts_df.head(15)

,Unnamed: 0,Week,Price,Sales,Remaining,foresight,Choice,diff,revenue,perfect,Demand_Lift
0,0,1,60,87,1913,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,1.000000
1,1,2,60,74,1839,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,0.850575
2,2,3,54,147,1692,"Your revenue: $85,752, Perfect foresight strat...",1,15.8,85752,101892,1.689655
3,3,4,54,45,1647,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,0.517241
4,4,5,48,160,1487,"Your revenue: $85,752, Perfect foresight strat...",2,15.8,85752,101892,1.839080
5,5,6,48,239,1248,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,2.747126
6,6,7,48,137,1111,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,1.574713
7,7,8,36,261,850,"Your revenue: $85,752, Perfect foresight strat...",3,15.8,85752,101892,3.000000
8,8,9,36,292,558,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,3.356322
9,9,10,36,294,264,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,3.379310
10,10,11,36,99,165,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,1.137931
11,11,12,36,165,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,1.896552
12,12,13,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,0.000000
13,13,14,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,0.000000
14,14,15,36,0,0,"Your revenue: $85,752, Perfect foresight strat...",0,15.8,85752,101892,0.000000

## Optimization Problem Formulation

Maximize the revenue:

$$ \\$60 \cdot 0.992055 \cdot d_{1} \cdot x_{60} + \\$54 \cdot 1.316609 \cdot d_{1} \cdot x_{54} + \\$48 \cdot 1.752019 \cdot d_{1} \cdot x_{48} + \\$36 \cdot 1.772344 \cdot d_{1} \cdot x_{36} $$

where:
- $d_{1}$ = initial demand at week 1
- $x_{60}, x_{54}, x_{48}, x_{36}$ = number of weeks the item is sold at \\$60, \\$54, \\$48, and \\$36 respectively

Subject to:
- $ 0.992055 \cdot d_{1} \cdot x_{60} + 1.316609 \cdot d_{1} \cdot x_{54} + 1.752019 \cdot d_{1} \cdot x_{48} + 1.772344 \cdot d_{1} \cdot x_{36}$
- $x_{60} + x_{54} + x_{48} + x_{36} \leq 15$
- $x_{60} \geq 1$
- $x_{54}, x_{48}, x_{36} \geq 0$

## Running the optimization problem using a series of initial demand

Now, we will optimise using the above formulation to determine a suitable markdown strategy for each initial demand, $d_1$, i.e. the demand for a particular item at week 1

In [6]:
# Extract week 1 sales (assuming data is loaded into a DataFrame named 'df')
week_1_sales = data[data['Week'] == 1]['Sales'].values

# Get unique sales values using numpy
unique_sales = np.unique(week_1_sales)

# Print or further use the unique sales values
print(unique_sales)

print(len(unique_sales))

[ 17  25  30  36  44  47  48  49  51  53  54  55  56  61  65  66  67  68
  69  70  71  72  74  76  79  81  83  84  85  86  87  89  90  92  94  96
  98  99 100 101 102 103 104 105 107 108 110 111 112 114 116 117 119 122
 125 127 128 129 133 139 167]
61

Given that there are 61 unique $d_1$ values within the list of 100 items, we will build a series of optimisation model that runs from $d_1$ = 15, 25, 35 ... 175 to recommend the appropriate strategy depending on which buckets the initial $d_1$ falls into.

In [7]:
import gurobipy as gp
from gurobipy import GRB
import numpy as np
import pandas as pd

# Create buckets for week_1_sales
week_1_sales = np.arange(15, 185, 10)

# Placeholder for results
optimization_results = []

for d1 in week_1_sales:
    # Create a new model
    model = gp.Model('PricingStrategy')
    model.setParam('OutputFlag', 0)  # Suppress the optimization log

    # Decision variables
    x60 = model.addVar(lb=1, vtype=GRB.INTEGER, name="x60")
    x54 = model.addVar(lb=0, vtype=GRB.INTEGER, name="x54")
    x48 = model.addVar(lb=0, vtype=GRB.INTEGER, name="x48")
    x36 = model.addVar(lb=0, vtype=GRB.INTEGER, name="x36")

    # Objective function
    model.setObjective(60 * 0.992055 * d1 * x60 +
                       54 * 1.316609 * d1 * x54 +
                       48 * 1.752019 * d1 * x48 +
                       36 * 1.772344 * d1 * x36, GRB.MAXIMIZE)

    # Constraints
    model.addConstr(0.992055 * d1 * x60 + 1.316609 * d1 * x54 + 1.752019 * d1 * x48 + 1.772344 * d1 * x36 <= 2000, "c0")
    model.addConstr(x60 + x54 + x48 + x36 <= 15, "c1")

    # Solve model
    model.optimize()

    # Store results if an optimal solution is found
    if model.status == GRB.OPTIMAL:
        results = {
            'd1': d1,
            'x60': x60.X,
            'x54': x54.X,
            'x48': x48.X,
            'x36': x36.X,
            'Objective': model.ObjVal  # Capture the objective function value
        }
        optimization_results.append(results)

# Convert results into a DataFrame
results_df = pd.DataFrame(optimization_results)

# Output results
print(results_df)

Set parameter Username
Academic license - for non-commercial use only - expires 2024-08-30
     d1   x60  x54   x48  x36     Objective
0    15   1.0 -0.0  14.0 -0.0   18553.20102
1    25   1.0 -0.0  14.0 -0.0   30922.00170
2    35   1.0 -0.0  14.0 -0.0   43290.80238
3    45   1.0 -0.0  14.0 -0.0   55659.60306
4    55   1.0 -0.0  14.0 -0.0   68028.40374
5    65   1.0 -0.0  14.0 -0.0   80397.20442
6    75   1.0 -0.0  14.0 -0.0   92766.00510
7    85   2.0  3.0  10.0 -0.0   99731.04213
8    95   3.0  7.0   5.0 -0.0  104189.60289
9   105   5.0  8.0   2.0 -0.0  108631.46826
10  115  10.0  3.0   2.0 -0.0  112322.51043
11  125  13.0  1.0   1.0 -0.0  116124.58725
12  135  13.0  0.0   1.0 -0.0  115816.47462
13  145  12.0  0.0   1.0 -0.0  115764.59424
14  155  13.0 -0.0  -0.0 -0.0  119939.44950
15  165  12.0 -0.0  -0.0 -0.0  117856.13400
16  175  10.0  1.0   0.0 -0.0  116607.73005

In [8]:
print(results_df.iloc[:,0:5])

     d1   x60  x54   x48  x36
0    15   1.0 -0.0  14.0 -0.0
1    25   1.0 -0.0  14.0 -0.0
2    35   1.0 -0.0  14.0 -0.0
3    45   1.0 -0.0  14.0 -0.0
4    55   1.0 -0.0  14.0 -0.0
5    65   1.0 -0.0  14.0 -0.0
6    75   1.0 -0.0  14.0 -0.0
7    85   2.0  3.0  10.0 -0.0
8    95   3.0  7.0   5.0 -0.0
9   105   5.0  8.0   2.0 -0.0
10  115  10.0  3.0   2.0 -0.0
11  125  13.0  1.0   1.0 -0.0
12  135  13.0  0.0   1.0 -0.0
13  145  12.0  0.0   1.0 -0.0
14  155  13.0 -0.0  -0.0 -0.0
15  165  12.0 -0.0  -0.0 -0.0
16  175  10.0  1.0   0.0 -0.0

## Testing the Strategy

In [12]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

# Print the versions of selenium and webdriver-manager
import selenium
import webdriver_manager

print("Selenium version:", selenium.__version__)
print("WebDriver Manager version:", webdriver_manager.__version__)

# Initialize the driver with correct setup
def init_driver():
    options = Options()
    options.add_argument("--start-maximized")  # Opens the browser window maximized
    chrome_service = Service(ChromeDriverManager().install())
    driver = webdriver.Chrome(service=chrome_service, options=options)
    return driver

try:
    driver = init_driver()
    print("Driver initialized successfully.")
    driver_version = driver.capabilities['chrome']['chromedriverVersion'].split(' ')[0]
    browser_version = driver.capabilities['browserVersion']
    print("ChromeDriver version:", driver_version)
    print("Browser version:", browser_version)
    driver.quit()
except Exception as e:
    print("Failed to initialize driver:", str(e))

Selenium version: 4.21.0
WebDriver Manager version: 4.0.1
Driver initialized successfully.
ChromeDriver version: 124.0.6367.207
Browser version: 124.0.6367.209

In [90]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import pandas as pd
import numpy as np
import time

def init_driver():
    options = Options()
    options.add_argument("--start-maximized")  # Opens the browser window maximized
    chrome_service = Service(ChromeDriverManager().install())
    driver = webdriver.Chrome(service=chrome_service, options=options)
    return driver

# Define the strategy DataFrame with d1 and actions for each week
data = {
    'd1': np.arange(15, 180, 10),
    'Actions': []
}

# Pricing strategy details
x60_weeks = [1] * 7 + [2, 3, 5, 10, 13, 13, 12, 13, 12, 10]
x54_weeks = [0] * 7 + [3, 7, 8, 3, 1, 0, 0, 0, 0, 1]
x48_weeks = [14] * 7 + [10, 5, 2, 2, 1, 1, 1, 0, 0, 0]
x36_weeks = [0] * 17

for i in range(len(data['d1'])):
    actions = []
    if x60_weeks[i] > 0:
        actions += ['maintain'] * (x60_weeks[i] - 1)
    if x54_weeks[i] > 0:
        actions += ['ten'] + ['maintain'] * (x54_weeks[i] - 1)
    if x48_weeks[i] > 0:
        actions += ['twenty'] + ['maintain'] * (x48_weeks[i] - 1)
    if x36_weeks[i] > 0:
        actions += ['forty'] + ['maintain'] * (x36_weeks[i] - 1)
    
    #pad with actions to ensure each list has 14 actions
    actions += ['maintain']*(14-len(actions))
    
    data['Actions'].append(actions)

strategy_df = pd.DataFrame(data)

# Initialize the driver and navigate to the game
driver = init_driver()
driver.get("http://www.randhawa.us/games/retailer/nyu.html")
WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.ID, "result-table")))

# Collect all run results
all_runs = []
summary_data = []  # To store summary of each run
attempts = 100

for attempt in range(attempts):
    print(f"Attempt {attempt+1}/{attempts}")
    WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.ID, "practiceButton"))).click()
    time.sleep(1)  # Ensure the game has reset

    chosenchoices = []
    run_data = []

    # Fetch initial demand and find closest strategy
    first_sales_value = int(WebDriverWait(driver, 10).until(
        EC.visibility_of_element_located((By.XPATH, "//table[@id='result-table']/thead/tr[2]/td[3]"))
    ).text)
    closest_strategy = strategy_df.iloc[(strategy_df['d1'] - first_sales_value).abs().argsort()[:1]]
    actions = closest_strategy['Actions'].values[0]

    buttons = {
        "maintain": driver.find_element(By.ID, "maintainButton"),
        "ten": driver.find_element(By.ID, "tenButton"),
        "twenty": driver.find_element(By.ID, "twentyButton"),
        "forty": driver.find_element(By.ID, "fortyButton")
    }
    
    # Execute strategy and capture data at the end of all attempts
    for i, action in enumerate(actions):
        buttons[action].click()
        time.sleep(1)  # Allow time for the table to update

    text = WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.ID, "result-table"))).text
            
    lines = text.split('\n')
    data_lines = lines[1:]  # adjust the index based on where you want to start

    data = [line.split() for line in data_lines]

    df = pd.DataFrame(data, columns=['Week', 'Price', 'Sales', 'Remaining Inventory'])
    all_runs.append(df)
    
    # At the end of 15 weeks, capture the final financial results
    revenue = driver.find_element(By.ID, "rev").text
    perfect_foresight = driver.find_element(By.ID, "perfect").text
    percentage = driver.find_element(By.ID, "percentage").text
    
    # Strip leading comma and space, then split by space
    percentage_value = percentage.strip(", ").split(" ")[1].strip('%')
    
    summary_data.append({
        'First Sales Value': first_sales_value,
        'Revenue': revenue,
        'Perfect Foresight Strategy': perfect_foresight,
        'Percentage': percentage_value
    })

all_data = pd.concat(all_runs, ignore_index=True)  # Concatenate all DataFrame objects in the list

driver.quit()

# Convert summary data into DataFrame
summary_df = pd.DataFrame(summary_data)

print(f"Total rows captured over all attempts: {len(all_data)}")

Attempt 1/100
Attempt 2/100
Attempt 3/100
Attempt 4/100
Attempt 5/100
Attempt 6/100
Attempt 7/100
Attempt 8/100
Attempt 9/100
Attempt 10/100
Attempt 11/100
Attempt 12/100
Attempt 13/100
Attempt 14/100
Attempt 15/100
Attempt 16/100
Attempt 17/100
Attempt 18/100
Attempt 19/100
Attempt 20/100
Attempt 21/100
Attempt 22/100
Attempt 23/100
Attempt 24/100
Attempt 25/100
Attempt 26/100
Attempt 27/100
Attempt 28/100
Attempt 29/100
Attempt 30/100
Attempt 31/100
Attempt 32/100
Attempt 33/100
Attempt 34/100
Attempt 35/100
Attempt 36/100
Attempt 37/100
Attempt 38/100
Attempt 39/100
Attempt 40/100
Attempt 41/100
Attempt 42/100
Attempt 43/100
Attempt 44/100
Attempt 45/100
Attempt 46/100
Attempt 47/100
Attempt 48/100
Attempt 49/100
Attempt 50/100
Attempt 51/100
Attempt 52/100
Attempt 53/100
Attempt 54/100
Attempt 55/100
Attempt 56/100
Attempt 57/100
Attempt 58/100
Attempt 59/100
Attempt 60/100
Attempt 61/100
Attempt 62/100
Attempt 63/100
Attempt 64/100
Attempt 65/100
Attempt 66/100
Attempt 67/100
Attempt 68/100
Attempt 69/100
Attempt 70/100
Attempt 71/100
Attempt 72/100
Attempt 73/100
Attempt 74/100
Attempt 75/100
Attempt 76/100
Attempt 77/100
Attempt 78/100
Attempt 79/100
Attempt 80/100
Attempt 81/100
Attempt 82/100
Attempt 83/100
Attempt 84/100
Attempt 85/100
Attempt 86/100
Attempt 87/100
Attempt 88/100
Attempt 89/100
Attempt 90/100
Attempt 91/100
Attempt 92/100
Attempt 93/100
Attempt 94/100
Attempt 95/100
Attempt 96/100
Attempt 97/100
Attempt 98/100
Attempt 99/100
Attempt 100/100
Total rows captured over all attempts: 1500

In [110]:
summary_df = pd.DataFrame(summary_data)

In [117]:
# List of specific columns to modify
columns_to_modify = ['Revenue', 'Perfect Foresight Strategy','Percentage']

# Strip commas and convert to integers
for column in columns_to_modify:
    summary_df[column] = summary_df[column].astype(str).str.replace(',', '').str.replace('$', '').astype(float)
            
summary_df.dtypes

First Sales Value               int64
Revenue                       float64
Perfect Foresight Strategy    float64
Percentage                    float64
dtype: object

In [118]:
summary_df

    First Sales Value   Revenue  Perfect Foresight Strategy  Percentage
0                 118  112452.0                    115278.0         2.5
1                  60   76752.0                     83244.0         7.8
2                  89  100122.0                    100350.0         0.2
3                  87   99690.0                    104052.0         4.2
4                 119  112668.0                    113532.0         0.8
..                ...       ...                         ...         ...
95                 73   88476.0                     91272.0         3.1
96                 42   50424.0                     59940.0        15.9
97                 95  105426.0                    106740.0         1.2
98                101  108330.0                    108744.0         0.4
99                 73   86604.0                     89880.0         3.6

[100 rows x 4 columns]

In [119]:
summary_df.describe()

,First Sales Value,Revenue,Perfect Foresight Strategy,Percentage
count,100.000000,100.000000,100.000000,100.00000
mean,91.770000,97386.420000,100697.400000,3.62600
std,24.449848,14693.873708,12738.518981,3.82508
min,42.000000,50424.000000,59940.000000,0.00000
25%,75.000000,91416.000000,94266.000000,0.80000
50%,90.000000,99906.000000,101871.000000,2.30000
75%,103.250000,105640.500000,109554.000000,4.75000
max,152.000000,120000.000000,120000.000000,15.90000

In [123]:
strategy_df.iloc[10:,1]

10    [maintain, maintain, maintain, maintain, maint...
11    [maintain, maintain, maintain, maintain, maint...
12    [maintain, maintain, maintain, maintain, maint...
13    [maintain, maintain, maintain, maintain, maint...
14    [maintain, maintain, maintain, maintain, maint...
15    [maintain, maintain, maintain, maintain, maint...
16    [maintain, maintain, maintain, maintain, maint...
Name: Actions, dtype: object